@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
        
body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin-top: 40px;
}

.carousel-item img {
    height: auto;
    max-height: 500px;
    object-fit: cover;
}