@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "styleCustom.css";
* {
    list-style: none !important;
    padding: 0px;
    margin: 0xp;
    text-decoration: none !important;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--cinza);
}


.carousel-item img {
    height: auto;
    max-height: 500px;
    object-fit: cover;
}
.text-bold {
    font-weight: 700;
}
.text-bold-500 {
    font-weight: 500;
    font-weight: 700;
}
.m-0 {
    margin: 0px !important;
}

/* Estilos do Menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
}

.menu a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #fff; /* Cor do texto dos links */
    transition: background-color 0.3s, color 0.3s; /* Transição suave para hover */
    padding: 10px 15px; /* Espaçamento interno dos links */
    display: block; /* Faz com que o link ocupe o bloco inteiro */
    border-bottom: 1px solid transparent; /* Adiciona uma borda transparente na parte de baixo do link */
}

.menu a:hover {
    border-bottom: 1px solid white; /* Adiciona uma borda branca na parte de baixo do link */
    color: black; /* Cor do texto ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas para o efeito de hover */
  }

/* Estilos do Menu Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

  /* Efeito de hover para o botão */
  section a:hover {
    background-color: #a91b1f;
  }