:root {
    --color-red: #ec0911;
    --cinza: #fafafa;
}
.bg-red {
    background: var(--color-red);
}
.text-vermelho {
    color: var(--color-red);
}
.col-md-6 .text-danger {
    color: var(--color-red);
}

.letras-espacadas {
  letter-spacing: 1.5px; /* Ajuste o valor conforme necessário */

}

.img-fluid {
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
  }

  .img-inicio {
    width: 100%;
  }
  .custom-size {
    max-width: 500px;
    min-height: 300px !important;
    box-sizing: border-box;
    
  }

  .lista-das-lojas {
    padding-left: 0px;
  }
  .item-list {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total do elemento */
  }
  
.image-container {
    flex: 1; /* Faz o container da imagem ocupar todo o espaço restante */
    display: flex; /* Permite o alinhamento da imagem dentro do container */
} 
.img-loja {
    width: 100%; /* Faz a imagem ocupar toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Garante que a imagem cubra todo o container sem distorção */
    display: block; /* Remove o espaço embaixo da imagem */
    border-radius: 5px;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 50px;
}

.endereco {
    margin: 10px 0px 5px 0px;
}
.endereco a {
    border-bottom: 1px solid transparent;
}
.endereco:hover a  {
    border-bottom: 1px solid black;
    background-color: transparent !important;
}
.telefone a {
    border-bottom: 1px solid transparent;
    background-color: transparent !important;
}
.telefone:hover a {
    border-bottom: 1px solid black;
}



@media (max-width: 600px) {
  .item-list {
    flex-direction: column-reverse;
    justify-content: start;

  }
  .textos {
    padding: 0px 10px 20px 10px;
    gap: 0px;
  }
  .textos a {
    font-size: 12px;
  }
}

/* Carousel */
@media (max-width: 576px) {
  #carouselExampleRide .carousel-inner img {
      height: 100px; /* Ajuste o tamanho conforme necessário */
      object-fit: cover; /* Faz com que a imagem cubra toda a altura */
  }
}

@media (min-width: 577px) {
  #carouselExampleRide .carousel-inner img {
      height: auto; /* Mantém a altura padrão para dispositivos maiores */
  }
}
/* Carousel */

  /* Nossos Serviços */
  .card {
    position: relative;
    text-align: center;
  }
  
  .card-content {
    transition: opacity 0.3s ease;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover .card-content {
    opacity: 0;
  }
  
  .card:hover .card-overlay {
    display: flex;
    opacity: 1;
  }
  
  /* Nossos Serviços */
  .service-icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    filter: invert(1);
    display: block;
    margin: 0 auto;
  }
  
  .card-overlay p {
    color: #ec0911;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .card:hover .card-content {
      opacity: 1;
    }
  
    .card:hover .card-overlay {
      display: none;
    }
    
    .card .card-overlay {
      display: none;
    }
  }
   /* Nossos Serviços */

   /* Footer */
   .social-icon {
    width: 32px;
    height: 32px;
    filter: invert(1); /* Inverte as cores para deixar os ícones brancos */
    transition: transform 0.3s;
  }

  .social-icon:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
  }


  .text-white {
    color: #ffffff;
  }

  footer a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
  }

  footer a:hover {
    color: #cccccc;
  }

  footer ul {
    padding: 0;
    list-style-type: none;
  }

  .col-md-4 .list-unstyled li {
    margin-bottom: 15px; /* Ajuste o valor conforme necessário */
  }
  
  .col-md-4 .list-unstyled li:last-child {
    margin-bottom: 0; /* Remove o espaçamento no último item, se desejado */
  }
  /* Footer */



  